*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
*.sw[po]
tags
.tags
.bashrc.local
.zshrc.local
.muttrc.account
.weechat/irc.conf
.weechat/logs/*
.weechat/*.log
.weechat/weechat_fifo_*
.envrc
.tmuxinator/*
!.tmuxinator/default.yml
