*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
*.sw[po]
*.sh.cache
tags
.tags
.bashrc.local
.zshrc.local
.envrc
.tmuxinator/*
!.tmuxinator/default.yml
.idea/
# for rails
.rake_tasks
/vendor/bundle
# for git worktree
/gwt-*/
# bundle cache
/.bundle/cache
