[core]
  excludesfile = ~/.gitignore
  editor = vim
[difftool "sourcetree"]
  cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
  trustExitCode = true
[pager]
  # ln -s /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight /usr/local/bin
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[merge]
  tool = vimdiff
  conflictstyle = diff3
[push]
  default = simple
[alias]
  a = add -v
  aa = add -Av
  b = branch
  c = commit -v
  cm = commit -mv
  co = checkout
  con = config
  cb = checkout -b
  cp = cherry-pick
  d = diff
  dc = diff --cached
  f = fetch
  gr = grep
  l = log --stat
  lg = log --graph --decorate --all
  lo = log --oneline
  mg = merge
  mgn = merge --no-ff
  p = push -v
  pl = pull
  r = rm
  rc = rm --cached
  rb = rebase
  rs = reset
  rsh = reset --hard
  rss = reset --soft
  rv = revert
  re = remote
  s = status
  sh = show
  st = stash
  stc = stash clear
  stl = stash list
  stp = stash pop
  delete-merged-local-branches = !git branch --merged | egrep -vw \"\\*|dev|development|staging|master\" | cut -d \" \" -f3 | xargs -n1 -t -I@ git branch -d @
  rename-nalabjp = !~/.gitscript/rename-nalabjp
  ignore-gemfile = !git update-index --assume-unchanged Gemfile Gemfile.lock
  revert-gemfile = !git update-index --no-assume-unchanged Gemfile Gemfile.lock
[help]
  autocorrect = 1
[branch]
  autosetuprebase = always
[ghq]
  root = ~/ghq
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[user]
  name = nalabjp
  email = nalabjp@gmail.com
[rebase]
  autostash = true
