*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
*.sw[po]
*.sh.cache
.bashrc.local
.zshrc.local
.envrc*
.tmuxinator/*
!.tmuxinator/default.yml
.idea/
.bundle/
# for rails
.rake_tasks
/vendor/bundle
tmp
# for git worktree
/gwt-*/
# bundle cache
/.bundle/cache
# for capistrano
config/deploy/mac.rb
# for solargraph
.solargraph.yml
# alfred
/alfred/Alfred.alfredpreferences/*
!/alfred/Alfred.alfredpreferences/workflows
!/alfred/Alfred.alfredpreferences/preferences
/alfred/Alfred.alfredpreferences/preferences/*
!/alfred/Alfred.alfredpreferences/preferences/features
/alfred/Alfred.alfredpreferences/preferences/features/*
!/alfred/Alfred.alfredpreferences/preferences/features/websearch
!/alfred/Alfred.alfredpreferences/preferences/features/defaultresults
alfred/Alfred.alfredpreferences/workflows/user.workflow.8FE53511-C7B5-4D73-8EB8-54356887F12C

# localignore
localignore/

# asdf
.tool-versions
