[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
	editor = nvim
	commentchar = auto
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[merge]
	tool = vimdiff
	conflictstyle = diff3
	prompt = false
	ff = false
[push]
	default = simple
[alias]
	delete-merged-local-branches = !git branch --merged | egrep -vw \"\\*|dev|development|staging|release|master\" | cut -d \" \" -f3 | xargs -n1 -t -I@ git branch -d @
	rename-nalabjp = !~/.gitscript/rename-nalabjp
	ignore-gemfile = !git update-index --assume-unchanged Gemfile Gemfile.lock
	revert-gemfile = !git update-index --no-assume-unchanged Gemfile Gemfile.lock
	open-pr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
	open-pr2 = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...upstream/master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
	branches = "!git for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:red)%(objectname:short)%(color:reset);%(color:yellow)%(refname:short)%(color:reset);(%(color:green)%(committerdate:relative)%(color:reset));%(authorname);%(contents:subject)' | column -t -s ';'"
[help]
	autocorrect = 1
[branch]
	autosetuprebase = always
[ghq]
	root = ~/ghq
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[user]
	name = nalabjp
	email = nalabjp@gmail.com
[rebase]
	autostash = true
[pull]
	ff = only
[rerere]
	enabled = true
[diff]
	compactionHeuristic = true
[interactive]
	diffFilter = diff-highlight
[init]
	templatedir = ~/.git_template
	defaultBranch = main
[grep]
	lineNumber = true
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[includeIf "gitdir:~/ghq/github.com/eightcard/"]
  path = ~/.gitconfig_eightcard
[credential "https://dev.azure.com"]
	useHttpPath = true
[url "https://github.com/"]
	insteadOf = git@github.com:
