<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>9AE9AE4C-20C0-45D1-A476-28B6266453BF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>chatwork</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Open chatwork</string>
			<key>url</key>
			<string>https://www.chatwork.com/#!rid33508721</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B6FE0CB6-D34B-471B-8676-D984215E79F5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>inbox</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Open Inbox</string>
			<key>url</key>
			<string>https://inbox.google.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CC9117CB-BA6D-41B2-8B9B-D3BC39FBC8D4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gcal</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Open Google Calendar</string>
			<key>url</key>
			<string>https://www.google.com/calendar/</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
