<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>074CD6B2-6B26-4F01-AA0F-841CBF14C0F7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>esa</string>
			<key>spaces</key>
			<string>%20</string>
			<key>text</key>
			<string>Open esa post</string>
			<key>url</key>
			<string>https://mf.esa.io/posts/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7FE4C416-2F65-43C5-8408-2BBCEF0E2154</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>issue</string>
			<key>text</key>
			<string>Open GitHub Issues</string>
			<key>url</key>
			<string>https://github.com/issues</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9A84CB6E-58E3-4AE4-8A70-498D7622F9EC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>r</string>
			<key>text</key>
			<string>Search from api.rubyonrails.org</string>
			<key>url</key>
			<string>https://google.com/search?q=site:api.rubyonrails.org {query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9AE9AE4C-20C0-45D1-A476-28B6266453BF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>chatwork</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Open chatwork</string>
			<key>url</key>
			<string>https://www.chatwork.com/#!rid33508721</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B6FE0CB6-D34B-471B-8676-D984215E79F5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>inbox</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Open Inbox</string>
			<key>url</key>
			<string>https://inbox.google.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BB93FD61-DEF3-419E-80F4-2D7AE2A0BCA9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pr</string>
			<key>text</key>
			<string>Open Github Pull requests</string>
			<key>url</key>
			<string>https://github.com/pulls</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CC9117CB-BA6D-41B2-8B9B-D3BC39FBC8D4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gcal</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Open Google Calendar</string>
			<key>url</key>
			<string>https://www.google.com/calendar/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E2B64C8B-908C-47E9-901F-E10D43E9B9E3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sso</string>
			<key>text</key>
			<string>Open MF SSO</string>
			<key>url</key>
			<string>https://a.moneyforward.co.jp</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E303BB11-E660-43FF-B81D-453EB92B27E6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>keymap</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Open ergodox-ez keymap</string>
			<key>url</key>
			<string>https://github.com/nalabjp/qmk_firmware/blob/master/keyboards/ergodox/keymaps/nalabjp/keymap.c</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
